
body {
    background: url('bettergb.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

li{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p{

    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 30;

}

h6{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;


}

.list-item{

    font-family: 'Courier New', Courier, monospace;
}



