h3 {
    color: indigo;
    background-color: aquamarine;
    margin: 10px;
    padding: 0.5cm;
    width: 0.5cm;


}

h1 {
    color: fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 35px;


}

